* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 5, 5);
    margin-top: 0px;
}

img {
    width: 100%
    min-width: 320px;
    max-width: 930px;
    margin: 0 auto;
}

p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    width: 1300px;
    margin: 0 auto;
    line-height: 30px;
    margin-top: 5px;
    width: 100%;
    min-width: 320px;
    max-width: 930px;
}

div {
    border-top: 1px solid #d5d5d5;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h1 {
    margin-bottom: 50px;
    margin-top: 0px;
}

h3 {
    text-align: left;
    margin-bottom: 10px;
}
